{% extends 'main/layout.html' %}
{% load static %}

{% block category %}
<div style="display: inline-flex; flex-wrap: wrap; margin-left: 30px; margin-top: 80px; padding: 10px;">
    <h1 style="font-weight: bold; color: rgb(0, 0, 0);">{{product.name}}</h1>
</div>
{% endblock %}

{% block content %}

{%if isAdmin %}
<div style="display: block; width: 30%; margin-top: 30px; margin-left: 80px;">
    <form action="Change" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <input type="hidden" name="oldName" value="{{ product.name }}">
        <div class="form-outline">
            <input type="text" id="firstName" name="name" value="{{ product.name }}" class="form-control form-control-lg" required/>
            <label class="form-label" for="firstName" style="font-weight: bold;">Product name</label>
        </div>

        <div class="form-outline">
            <img src="{{ product.img }}" width="100" height="80">
            <input type="text" id="firstName" name="img" value="{{ product.img }}" class="form-control form-control-lg" style="margin-top: 30px;"/>
            <label class="form-label" for="firstName" style="font-weight: bold;">Product image src</label>
        </div>

        <select class="form-select" aria-label="Default select example" name="category" style="font-weight: bold;" required>
            {% for c in categoryes %}
                {% if c != product.category %}
                    <option value="{{ c }}">{{c}}</option>
                {% else %}
                    <option value="{{ c }}" selected>{{c}}</option>
                {% endif %}
            {% endfor %}
        </select>

        <div class="form-outline" style="margin-top: 10px;">
            <input type="number" min="1" name="price" value="{{ product.price }}" class="form-control form-control-lg" step="0.01" required/>
            <label class="form-label" for="firstName" style="font-weight: bold;">Price</label>
        </div>

        <button class="btn btn-outline-success" type="submit" style="background-color: green; color: white;">Change</button>
    </form>
</div>
{% else %}
<div style="display: block; width: 30%; margin-top: 30px; margin-left: 80px; padding: 10px;">
    
        <input type="hidden" name="oldName" value="{{ product.name }}">

        <div class="form-outline">
            <img src="{{ product.img }}" width="400" height="400" style="border: 2px solid black;">
        </div>

        {% if aRaiting > 0 %}
        <div style="display: inline-flex; font-weight: bold; margin-top: 10px;">
            <h1 style="color: rgb(159, 161, 9);">Raiting: </h1>
            {% if aRaiting < 5 %}
                <h1 style="color: red; margin-left: 10px; font-weight: bold;">{{aRaiting}}</h1>
            {% elif aRaiting >= 5 and aRaiting < 8 %}
                <h1 style="color: orange; margin-left: 10px; font-weight: bold;">{{aRaiting}}</h1>
            {% elif aRaiting >= 8 %}
                <h1 style="color: green; margin-left: 10px; font-weight: bold;">{{aRaiting}}</h1>
            {% endif %}
        </div>
        {% endif %}

        <h1 style="color: rgb(255, 6, 160); font-weight: bold; margin-top: 10px;">Category: {{product.category}}</h1>
        <h1 style="color: rgb(6, 255, 68); font-weight: bold; margin-top: 10px;">Price: {{product.price}}</h1>

        <div style="overflow-x:scroll; white-space: nowrap; width: 700px; margin-top: 10px;" class="col-md-12">
            <span ng-repeat="item in images" >
                {%for screen in product.screens %}
                <a ng-href="{{screen}}" target="_blank">
                    <img width="700" height="500" src="{{screen}}">
                </a>
                {% endfor %}
            </span>
        </div>
        

        <h1 style="font-weight: bold; margin-left: 30px; margin-top: 10px; color: #5557d8;">Comments: </h1>
        <div style="margin-left: 100px; padding-top: 25px; padding-bottom: 15px; display: flexbox; flex-wrap: wrap;">
            {% for coment in product.comments %}
            <h2 style="color: rgb(72, 188, 218);"><img src= {{ coment.user.img }} width="50" height="50" style="border-radius: 50%; "> {{coment.user.login}} {{coment.raiting}}/10 </h2>
            <p style="margin-left: 40px; width: 80%; color: aquamarine; border: 1px solid black;"> {{coment.comment}} </p>
            {% endfor %}
        </div>

        {% if not haveUserComment and user != None %}
        <h2 style="color: #D2D3FA;"> Your comment: </h2>
        <form action="Comment" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="name" value="{{product.name}}">
            <div><input type="number" max="10" min="1" placeholder="Raiting" name="raiting"></div>
            <div><textarea name="comment" placeholder="Input your comment here" style="width: 550px;" rows="4"></textarea></div>
            <button class="btn btn-outline-success" type="submit" style="background-color: green; color: white;">Comment</button>
        </form>
        {% endif %}
</div>
{% endif %}

{% endblock %}